<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>You Have recieved a message from the Mana's Store contact form, from <%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
    </body>
</html>